body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../image/kaboompics_books-on-a-bookcase-marble-shelves-27345.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    padding-top: 85px; /* ヘッダーの高さ分余白を作る */
    user-select: none;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

header {
    top: 0;
    font-size: 40px;
    font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-left {
    width: 30%;
}
.header-right {
    width: 30%;
}
.header-center a {
    text-decoration: none;
    color: black;
}

footer {
    bottom: 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

footer i {
    font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 60%;
    border-radius: 10px;
    align-items: center;
    margin: 20px 0 20px 0; /* 上, 右, 下, 左 */
}

.link-container h1 {
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin: 40px 0 0 0;
    padding: 0;
    color: blue;
}

.link-container h2 {
    font-size: 25px;
    margin: 10px 0  0;
    padding: 20px 0;
    color: black;
}

.desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    gap: 40px;
}

.desc-container p {
    font-size: 20px;
    color: black;
    margin: 20px 20% 20px 20%;
}

.desc-container img {
    max-width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-around; /* ボタンを等間隔に配置 */
    align-items: center;
    width: 100%; /* コンテナ全体を使用 */
    max-width: 600px; /* 必要に応じて幅を制限 */
    margin: 40px auto; /* 中央揃え */
    height: 100%;
}


button {
    padding: 40px 20px;
    width: 40%;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    margin: auto;
    height: auto;
    text-align: center;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
